<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/style.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Simple Chat App</title>
  </head>

  <body>
    <header>
      <h1>Super Chat</h1><a class="btn btn-primary" href="/logout" class="btn btn-default btn-sm">Logout</a>
    </header>
    <section id="chatroom">
      <section id="feedback"></section>
    </section>

    <section id="input_zone">
      <input id="user" type="hidden" value="<%= user.username %>"/>
      <input id="message" class="vertical-align" type="text" />
      <button id="send_message" class="vertical-align" type="button">Send</button>
    </section>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/chat.js"></script>
  </body>
</html>
