<html>
<head>
  <body>
  <!--display sa message -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    sadasdsadasd
  </body>
</head>
<html>
