.simpleModal{
  display: none;
  position:fixed;
    vertical-align: middle;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: -15%;
  background-color: rbga(0,0,0,0.5);
}

.modal-content{
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}
.closeBtn{
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
  color: #000;
  text-decoration: none;
  cursor:pointer;
}

.simpleModal2{
    display: none;
    position:fixed;
    vertical-align: middle;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: -15%;
  background-color: rbga(0,0,0,0.5);
}
.modal-content2{
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}
.closeBtn2{
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn2:hover,.closeBtn2:focus{
  color: #000;
  text-decoration: none;
  cursor:pointer;
}
  .colo1{
    background-color: #47476b;
  }
  .colo2{
    background-color: #666699;
  }
  .colo3{
    background-color: #f2f2f2;
  }
  .over{
    margin-top:10%;
overflow: scroll;
width: 100%;
height: 75%;
  }
  .send{
    position: absolute;
      bottom: 0px;

      right: 0px;
      width: 10%;
      height: 50px;
      z-index: 99;
      background: #fafafa;
      border: none;
      outline: none;
      padding-left: 55px;
      padding-right: 55px;
      color: #666;
      font-weight: 400;
  }
  .full{
    height: 100%;
  }
  #chatroom, #feedback{
    padding: 0px;
    margin-top: 0px;
  }
  .messages{
margin-left: 10%;
font-weight: bold;
font-size: 30;
}
.search{
width: 100%;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 16px;
background-color: white;
background-image: url('searchicon.png');
background-position: 10px 10px;
background-repeat: no-repeat;
padding: 12px 20px 12px 40px;
transition: width 0.4s ease-in-out;
}
.message {
float: left;
width: 100%;
top: 10px;
margin: 10px 0;
border-bottom: 1px solid #ccc;
}
.message p {
font-size: 0.8em;
width: 90%;
margin: 5px 0;
}
.lastchat {
display: block;
padding: 8px 16px;
text-decoration: none;
margin: 10px 0;
border-bottom: 1px solid #ccc;
}
.lastchat:hover {
  background-color: #555;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
}
h2 {
font-size: 1em;
font-weight: 400;
}
h2:after {
content: '';
display: inline-block;
height: 10px;
width: 10px;
background: #39caad;
border-radius: 100%;
margin-left: 5px;
}
.tooltips .tooltiptext{
visibility: hidden;
width: 120px;
background-color: #d1d1e0;
color: Black;
text-align: center;
padding: 5px 0;
border-radius: 6px;
position: absolute;
z-index: 1;
}
.tooltips:hover .tooltiptext{
visibility: visible;
}
.info{
  text-align: center;
}
