input#message {
    display: inline-block;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2vh;
}

p.message {
    margin: 0px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}

.simpleModal{
  display: none;
  position:fixed;
    vertical-align: middle;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: -15%;
  background-color: rbga(0,0,0,0.5);
}

.modal-content{
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.closeBtn{
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
  color: #000;
  text-decoration: none;
  cursor:pointer;
}
